<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property> <!-- a custom hibernate dialect -->
        <property name="connection.driver_class">org.sqlite.JDBC</property>

        <!--TODO configure this for dev/prod-->
        <property name="connection.url">jdbc:sqlite:src/main/resources/pms.db</property>

        <!--custom connection pool so SQLite isn't locked when we try to use it-->
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">1</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <!--hibernate automatically generates the schema from the given model-->
        <property name="hibernate.hbm2ddl.auto">validate</property>
    </session-factory>
</hibernate-configuration>